@keyframes spin {
  50% {
    -webkit-transform: rotate(100deg) scale(1.1);
    transform: rotate(100deg) scale(1.1);
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1);
    transform:rotate(0deg) scale(1);
  }
}

@keyframes spin-backwards {
  50% {
    -webkit-transform: rotate(-45deg) scale(1.2);
    transform:rotate(-45deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1);
    transform:rotate(0deg) scale(1);
  }
}

@keyframes bgchange {
  50%  {background: #111010;}
}

@keyframes innershadow {
  0%  {box-shadow: 0 0 400px rgba($color-pink, .15) inset;}
  50%  {box-shadow: 0 0 400px rgba($color-blue, .15) inset;}
  100%  {box-shadow: 0 0 400px rgba($color-pink, .15) inset;}
}

@keyframes innerpath {
  0%  {fill: $color-pink;}
  50%  {fill: $color-blue;}
}
